In [111]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

[autoreload of cig_script.mail_copy_input_format failed: Traceback (most recent call last):
  File "c:\users\user\appdata\local\programs\python\python38\lib\site-packages\IPython\extensions\autoreload.py", line 257, in check
    superreload(m, reload, self.old_objects)
  File "c:\users\user\appdata\local\programs\python\python38\lib\site-packages\IPython\extensions\autoreload.py", line 455, in superreload
    module = reload(module)
  File "c:\users\user\appdata\local\programs\python\python38\lib\importlib\__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 604, in _exec
  File "<frozen importlib._bootstrap_external>", line 783, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "C:\Users\USER\Desktop\CIG_SCRIPT\cig_script\mail_copy_input_format.py", line 11, in <module>
    from check_valid_data import call_error_message_mail_con_acid_empty
ModuleNotFoundError: No module named 'check_valid_data'
]

In [112]:
import os
import pandas as pd
import numpy as np
import sys
import re

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

# pd.set_option('display.max_row', 50)

In [113]:
from cig_script.config.config_env import Config
from cig_script.mail_copy_input_format import _get_all_sheet_from_mail,_get_mul_car_mail_in_format,_remove_NBSP_df,_reset_index,_get_df_mul_car_info

In [114]:
mail_copy_in_path = Config().mail_copy_in_path
mul_sheet_list = []
one_sheet_list = []
one_result_dict = {}
mul_result_dict = {}
one_sheet_list,mul_sheet_list = _get_all_sheet_from_mail(mail_copy_in_path,one_sheet_list,mul_sheet_list)

In [119]:
mul_sheet = 'ELFEKY_MUL'
df = _get_mul_car_mail_in_format(mail_copy_in_path,mul_sheet)
df = _remove_NBSP_df(df)
df

,0,1,2
0,SHIPPER NAME:,NaN,NaN
1,ELFEKY TRADING,NaN,NaN
2,"SAMYOKSA – RO 380 BEON-GIL, NUM-MYUN",NaN,NaN
3,KYOUNQQIDO KOREA,NaN,NaN
4,REGISTRATION NO :127-86-58024,NaN,NaN
5,TEL:031-864-3043,NaN,NaN
6,FAX:031-684-3044,NaN,NaN
7,EMAIL:DLFDIR0208@HANMAIL.NET,NaN,NaN
8,NaN,NaN,NaN
9,10 UNITS OF USED CARS,NaN,NaN
10,NaN,NaN,NaN
11,AVANTE,2012.0,KMHDG41DBCU372355
12,AVANTE,2011.0,KMHDG41DBBU079227
13,K3,2015.0,KNAFK412BFA430715
14,SOUL,2010.0,KNAJU811BAK104332
15,FORTE,2011.0,KNAFW415BBA380984
16,FORTE,2010.0,KNAFU411BAA225708
17,FORTE,2010.0,KNAFT411BAA233766
18,FORTE,2010.0,KNAFU411BAA263508
19,FORTE,2009.0,KNAFH22139A070842
20,AVANTE,2012.0,KMHDG41DBCU277583
21,NaN,NaN,NaN
22,UNITRADE COMPANY FOR TRADING,NaN,NaN
23,PORT SAID PUBLIC FREE ZONE,NaN,NaN
24,TEL: +20 1223706050,NaN,NaN
25,ID NO: 204-907-683,NaN,NaN
26,NaN,NaN,NaN
27,NaN,NaN,NaN
28,NOTIFY PARTY:,NaN,NaN
29,Our Company name “ Fairtrans “,NaN,NaN
30,NaN,NaN,NaN
31,NaN,NaN,NaN
32,ACID NO: 2049076832022080087,NaN,NaN
33,Egyptian Importer Vat Number : 204907683,NaN,NaN
34,Foreign Exporter Registration Number: 1278658024,NaN,NaN
35,Foreign Exporter Country: South Korea,NaN,NaN
36,Foreign Exporter Country Code: KR,NaN,NaN
37,NaN,NaN,NaN
38,NaN,NaN,NaN
39,Please add that sentences in description of go...,NaN,NaN
40,Final destination : CARGO IN TRANSIT TO PORT S...,NaN,NaN

In [120]:
BL_cnt = 0
con_df = pd.DataFrame()
acid_df = pd.DataFrame()
import_tax_df = pd.DataFrame()
export_num_df = pd.DataFrame()

first_col_df = df.loc[:,[0]]
first_col_df = first_col_df.dropna()
first_col_df = _reset_index(first_col_df)

In [130]:
for idx,col in first_col_df.iterrows():
    col = col.str.upper()
    val = col[0]
    if 'CONSIGNEE' in val:
        BL_cnt = BL_cnt + 1
        if idx >= 1:
            consign_idx = idx + 1
            cate = val
            con_name = first_col_df.loc[consign_idx,:][0]
            con_df = _get_df_mul_car_info(con_df,cate,con_name,BL_cnt)

    elif 'ACID' in val:
            acid_no_list = val.split(':')
            cate = acid_no_list[0]
            acid_no = acid_no_list[1].strip()
            acid_df = _get_df_mul_car_info(acid_df,cate,acid_no,BL_cnt)

    elif 'IMPORTER VAT NUMBER' in val or 'IMPORTER TAX NUMBER' in val:
            import_tax_list = val.split(':')
            cate = import_tax_list[0]
            import_tax = import_tax_list[1].strip()
            import_tax_df = _get_df_mul_car_info(import_tax_df,cate,import_tax,BL_cnt)

    elif 'EXPORTER REGISTRATION NUMBER' in val:
            export_num_list = val.split(':')
            cate = export_num_list[0]
            export_num = export_num_list[1].strip()
            export_num_df = _get_df_mul_car_info(export_num_df,cate,export_num,BL_cnt)

0
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
1
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
2
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
3
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
4
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
5
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
6
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
7
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
8
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
9
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
10
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
11
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
12
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
13
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
14
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
15
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
16
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
17
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
18
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
19
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
20
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
21
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
22
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
23
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
24
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
25
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
26
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
0                     204907683
27
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
0                     204907683
28
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
0                     204907683
29
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
0                     204907683
30
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
0                     204907683
31
               ACID NO
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
0  2049076832022080087
  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683
0                     204907683
0                     204907683
0                     204907683
0                     204907683

In [122]:
con_df

Empty DataFrame
Columns: []
Index: []

In [123]:
acid_df

               ACID NO
0  2049076832022080087

In [124]:
import_tax_df

  EGYPTIAN IMPORTER VAT NUMBER
0                     204907683

In [125]:
export_num_df

  FOREIGN EXPORTER REGISTRATION NUMBER
0                           1278658024