In [1]:
%load_ext autoreload
%autoreload 2

In [148]:
import os
import pandas as pd
import numpy as np
import sys

import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

# pd.set_option('display.max_row', 50)

In [149]:
from cig_script.mail_copy_input_format import _get_mail_in_format
from cig_script.mail_copy_input_format import _get_shipper_info
from cig_script.mail_copy_input_format import _get_consignee_info
from cig_script.mail_copy_input_format import _get_column_from_dict

In [150]:
local_path = 'C:/Users/USER/Desktop/CIG/backup_data/'

In [151]:
excel_file = 'input_format.xlsx'
excel_path = local_path + excel_file
excel_path

'C:/Users/USER/Desktop/CIG/backup_data/input_format.xlsx'

In [158]:
df = _get_mail_in_format(excel_path)
ship_dict =  _get_shipper_info(df)
con_dict,chassi_dict,acid_dict,import_dict,exp_dict,exp_cty_dict,BL_cnt = _get_consignee_info(df)
mail_dicts = (ship_dict,con_dict,chassi_dict,acid_dict,import_dict,exp_dict,exp_cty_dict)

In [159]:
cols = []
cols = _get_column_from_dict(mail_dicts,cols)

In [164]:
index_list = range(1,BL_cnt+1)
df = pd.DataFrame(index= index_list, columns= cols)

df

,SHIPPER NAME:,CONSIGNEE NAME,MODEL,YR,CHASSINO,ACID NO,IMPORTER TAX NUMBER,FREIGHT FORWARDER ID,EXPORTER REGISTRATION COUNTRY
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [189]:
for mail_dict in mail_dicts:
    for cnt in mail_dict:
        mail_key = list(mail_dict[cnt].keys())
        if 'SHIPPER' in mail_key[0]:
            ship_info = mail_dict[cnt].get(mail_key[0])
            ship_info = '_'.join(ship_info)
            df.loc[cnt,mail_key[0]] = ship_info
        else:
            temp_df = pd.DataFrame(mail_dict[cnt], index = [cnt])
        df.update(temp_df)
# print(df)

                                       SHIPPER NAME:  \
1  INTERNATIONAL EGY KOREA CO.,LTD._AHAMAD ABD AL...
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN

                            CONSIGNEE NAME   MODEL    YR           CHASSINO  \
1                 SABHA MOHAMED ALI HASSAN  AVANTE  2015  KMHDG41DBFU305360
2  WALEED ABD ELHAMIED ABD ELGHANY YOUSSEF  TUCSON  2017  KMHJ3812GHU324867
3       ASMAA HASSAN ELSAYED TOUHAMY AHMED  AVANTE  2010  KMHDU41BBAU097310
4           MOHAMED NASSER MOUSTAFA AAFIFY  AVANTE  2016  KMHD741DBGU027762
5      NADA AHMED ABOU ELHADIED ELHALAFAWY  AVANTE  2009  KMHDU41BP9U777527

               ACID NO IMPORTER TAX NUMBER FREIGHT FORWARDER ID  \
1  9992022060000019361           999999999            940426854
2  9992022060000019387           999999999            940426854
3  9992022060000019395           999999999            940426854
4  9992022060000068061           999999999            940426854
5  9992022060000068186           999999999            940426854

  EXPORTER REGISTRATION COUNTRY
1                            KR
2                            KR
3                            KR
4                            KR
5                            KR