In [7]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
import os
import pandas as pd
import numpy as np
import sys

import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

# pd.set_option('display.max_row', 50)

In [25]:
# from cig_script.config_env import Config
from cig_script.mail_copy_input_format import _get_mail_in_format
from cig_script.mail_copy_input_format import _get_shipper_info
from cig_script.mail_copy_input_format import _get_consignee_info
from cig_script.mail_copy_input_format import _get_column_from_dict
from cig_script.config.config_env import Config

In [39]:
df = _get_mail_in_format(Config().mail_copy_in_path)
df

                                             Unnamed: 0
0                         AVANTE 2007 KMHDU41BP7U242468
1         CONSIGNEE NAME: SAMIAH MAHMOUD AHMED MAHMOUD
2     BUILDING NAME: BLOCK30 – MASAKEN ELAMERIA ELGA...
3                                     STREET: ELAMERIAH
4                                           CITY: CAIRO
...                                                 ...
2515                       FORTE 2009 KNAFH22139A004895
2516                          K3 2013 KNAFX412BDA028429
2517                      AVANTE 2011 KMHDH41DBBU056522
2518                     MORNING 2012 KNABX511BCT014032
2519                      AVANTE 2012 KMHDH41DBCU178482

[2520 rows x 1 columns]

In [43]:
for col in df:
    col
col

'Unnamed: 0'